<p id="notice"><%= notice %></p>

<h1><%= @agent.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @agent.premium %>
</p>

<p>
  <strong>Seller favorite:</strong>
  <%= @agent.seller_favorite %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @agent.registered %>
</p>

<p>
  <strong>Registered on:</strong>
  <%= @agent.registered_on %>
</p>

<p>
  <strong>Unregistered on:</strong>
  <%= @agent.unregistered_on %>
</p>

<p>
  <strong>Profile pageviews:</strong>
  <%= @agent.profile_pageviews %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @agent.overall_rating %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @agent.review_count %>
</p>

<p>
  <strong>Recommendation count:</strong>
  <%= @agent.recommendation_count %>
</p>

<p>
  <strong>Image:</strong>
  <%= @agent.image %>
</p>

<p>
  <strong>Url:</strong>
  <%= @agent.url %>
</p>
